<partial name="_Notification" />

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I've kept this page as I wanted to click around while not logged into a admin account'</p>
